// some custom styling

.header {
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    li {
      float: left;
      margin: 0;
    } 
    
    a {
      display: block;
      padding: 4px 8px 4px 8px;
      margin-right: 3px;
      border-color: #ccc;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
    }
  }
}

.listing {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
  }
}

.date {
  font-style: italic;
  font-size: 10px;
  margin-bottom: 0.5rem;
}

.blog-nav {
  display: flex;
  font-size: 10px;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  
  div {
    flex: 1 1 0;
  }
  
  .prev {
    text-align: left;
  }
  
  .next {
    text-align: right;
  }
}