// some custom styling

.header {
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    li {
      float: left;
    } 
    
    a {
      display: block;
      padding: 4px 8px 4px 8px;
      margin: 3px;
      border-color: #ccc;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px 
    }
  }
}