// some custom styling

.header {
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    li {
      float: left;
      margin: 0;
    } 
    
    a {
      display: block;
      padding: 4px 8px 4px 8px;
      margin-right: 3px;
      border-color: #ccc;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
    }
  }
  
  .nav-dropdown {
    position: relative;
    display: inline-block;
    float: right;
    
    .dropbtn {
      padding: 4px 8px 4px 8px;
      background-color: white;
      color: black;
      border-color: #ccc;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      
      &:hover, &:focus {
        background-color: #ddd;
      }
    }
    
    .nav-dd-content {
      display: none;
      border-color: #ccc;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      position: absolute;
      background-color: white;
      min-width: 10rem;
      z-index: 1;
      
      a {
        color: black;
        display: block;
        padding: 4px 8px 4px 8px;
        text-decoration: none;
        
        &:hover {
          background-color: #ddd;
        }
      }
    }
    
    .show {
      display: block;
      right: 0px;
    }
  }
}

.home-blog-list {
  a.home-post-link {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .home-excerpt {
    color: #6a737d;
    margin-left: 1.2rem;
    margin-bottom: 1.0rem;
    padding-left: 0.8rem;
    border-left: 0.25em solid #dfe2e5;
  }
}

.listing {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 0 0 0 1rem;
    
    h3 {
      margin-top: 0.8rem;
      margin-bottom: 0.5rem;
    }
    
    p {
      margin-top: 0rem;
      margin-bottom: 0.5rem;
    }
  }
}

.date {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.blog-nav {
  display: flex;
  font-size: 12px;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  
  div {
    flex: 1 1 0;
  }
  
  .prev {
    text-align: left;
  }
  
  .next {
    text-align: right;
  }
}