<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>

<body>
  <div class="container-lg px-3 my-5 markdown-body">
    <div class="header">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="https://twitter.com/ledcoyote">Twitter</a></li>
          <li><a href="https://github.com/ledcoyote">Github</a></li>
        </ul>
      </nav>
    </div>
     
    <h1>{{ page.title }}</h1>
    <em>{{ page.date | date: '%Y-%m-%d' }}</em>
    
    {{ content }}
    
    <div class="blog-nav">
      <div class="previous">
        {% if page.previous.url %}
        <a href="{{ page.previous.url }}">Previous</a>
        {% endif %}
      </div>
      <div class="next">
        {% if page.next.url %}
        <a href="{{ page.next.url }}">Next</a>
        {% endif %}
      </div>
    </div>
    <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
      Copyright 2020 Charlie J Keith. All Rights Reserved.
    </div>
  </div>
</body>

</html>